# ------------------------------------------------------------------
#  SKY130 SRAM makro yerlesimi -- OTOMATIK URETILMIS
#  Ureten: asic/scripts/gen_macro_placement.py
#  Die: 3400.0 x 2900.0 um
#  Makro blogu: 3092.40 x 2416.16 um, sol-alt (153.8, 241.92)
#  Izgara: 4 sutun x 4 satir; kanal payi asagida.
#  Sutun araligi 120.0 um -> dikey kanal toplami 668 um
#  Satir araligi 250.0 um -> yatay kanal toplami 1234 um
#  (met2/met4 makro uzerinden GECEMEZ; dikey kanal genisligi global
#   routing'in gercek darbogazidir -- ayrintisi bu dosyanin ureteci
#   gen_macro_placement.py basindaki aciklamada.)
#  Yon: hepsi N -- makro guc pinleri (met3, yatay) PDN'in met4 dikey
#       seritleriyle dik kesissin diye dondurulmemistir.
# ------------------------------------------------------------------
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[0].u_cell.u_sram 153.8 241.92 N
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[1].u_cell.u_sram 956.9 241.92 N
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[2].u_cell.u_sram 153.8 908.46 N
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[3].u_cell.u_sram 956.9 908.46 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[0].u_cell.u_sram 1760.0 241.92 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[1].u_cell.u_sram 2563.1 241.92 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[2].u_cell.u_sram 1760.0 908.46 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[3].u_cell.u_sram 2563.1 908.46 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[0].u_cell.u_sram 153.8 1575.0 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[1].u_cell.u_sram 956.9 1575.0 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[2].u_cell.u_sram 153.8 2241.54 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[3].u_cell.u_sram 956.9 2241.54 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_1k.u_cell.u_sram 1760.0 2241.54 N
conv_accelerator_inst.u_conv_buf_ram.u_mem.u_mem.g_2k[0].u_cell.u_sram 1760.0 1575.0 N
conv_accelerator_inst.u_conv_buf_ram.u_mem.u_mem.g_2k[1].u_cell.u_sram 2563.1 1575.0 N
