# OPT3 A/B: data SRAM bank0 ile instruction SRAM bank0 konumlarini degistirir.
# Makro master, yon ve tum koordinatlar korunur; yalniz baglanti topolojisinin
# fiziksel konumu degisir. Kabul icin tam DRT/anten/STA gerekir.
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[0].u_cell.u_sram 3284.65 80.00 N
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[1].u_cell.u_sram 995.35 80.00 N
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[2].u_cell.u_sram 1758.45 80.00 N
instr_bram_ctrl_inst.instr_ram.u_mem.g_2k[3].u_cell.u_sram 2521.55 80.00 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[0].u_cell.u_sram 232.25 80.00 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[1].u_cell.u_sram 80.00 650.00 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[2].u_cell.u_sram 80.00 1433.10 N
data_bram_ctrl_inst.data_ram.u_mem.g_2k[3].u_cell.u_sram 80.00 2216.20 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[0].u_cell.u_sram 333.91 3103.46 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[1].u_cell.u_sram 1097.01 3103.46 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[2].u_cell.u_sram 1860.11 3103.46 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_2k[3].u_cell.u_sram 2623.21 3103.46 N
yz_bram_ctrl_inst.yz_ram.u_mem.u_mem.g_1k.u_cell.u_sram 3386.31 3122.50 N
conv_accelerator_inst.u_conv_buf_ram.u_mem.u_mem.g_2k[0].u_cell.u_sram 3436.90 1050.00 N
conv_accelerator_inst.u_conv_buf_ram.u_mem.u_mem.g_2k[1].u_cell.u_sram 3436.90 1950.00 N
